div::-webkit-scrollbar {
  width: 4px; /* width of the vertical scrollbar */
  background-color: #c7c7c7; /* track color */
}

/* Style the scrollbar thumb (draggable handle) */
div::-webkit-scrollbar-thumb {
  background-color: #000; /* color of the thumb */
}

/* Style the scrollbar track (the non-moving background) */
div::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}


.loading-screen {
  background-color: black;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loading-screen img {
  max-height: 150px;
}

.loading-screen h2 {
  color: #fff;
  margin: 10px 0;
}

.home-page-pic {
  max-height: 100%;
  background-position: center;
  position: fixed;
  min-width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
  z-index: -1;
}

.genre-button {
  width: 1.7rem;
  height: 1.7rem;
  position: absolute;
  opacity: 0.9;
  border-radius: 50%;
  text-align: center;
  color: rgb(255, 255, 255);
  z-index: 1;
  text-shadow:
    0 4px 12px rgba(31, 31, 31, 0.534),
    0 8px 16px rgba(43, 43, 43, 0.582);
  cursor: pointer;
  transition-duration: 0.2s;
  background-color: rgb(255, 0, 0);
}

.genre-button:hover {
  opacity: 1;
  animation: none;
}

.album-title-popup {
  position: fixed;
  z-index: 9999;
  color: #fff;
  box-sizing: border-box;
  text-align: left;
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.815);
  margin: 0.5rem;
  border: 1px solid white;
  max-width: 20rem;
}

.album-title-popup h4,
.album-title-popup h5 {
  margin: 0;
}

.genre-button-1 {
  top: 60%;
  left: 10%;
  transform: translate(-40%, -90%);
}

.genre-button-2 {
  top: 20%;
  left: 30%;
  transform: translate(-80%, -70%);
  /* background-color: rgb(119, 0, 255); */
}

.genre-button-3 {
  top: 65%;
  left: 80%;
  transform: translate(-20%, -35%);
  /* background-color: rgb(255, 0, 191); */
}

.genre-button-4 {
  top: 15%;
  left: 80%;
  transform: translate(-85%, -20%);
  /* background-color: rgb(0, 182, 70); */
}

.genre-button-5 {
  top: 85%;
  left: 35%;
  transform: translate(-15%, -65%);
  /* background-color: rgb(255, 145, 0); */
}

.genre-button-6 {
  top: 60%;
  left: 55%;
  transform: translate(-40%, -35%);
  /* background-color: rgb(255, 0, 0); */
}

.genre-button {
  animation: kreep 1s ease 2s infinite alternate;
}

@keyframes kreep {
  from {
    opacity: 0.4;
  }
  40% {
    opacity: 0.75;
  }
  50% {
    opacity: 1;
  }
  60% {
    opacity: 0.75;
  }
  to {
    opacity: 0.4;
  }
}

/* .album-modal {
  z-index: 300;
  position: absolute;
  top: 2rem;
  left: 30%;
  transform: translate(-3rem, -30%);
} */

.close:hover {
  text-decoration: underline;
  cursor: pointer;
}

.card {
  position: absolute;
  width: 800px;
  height: 800px;
  perspective: 6000px;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.card:hover .content {
  transform: rotateY(180deg);
  transition: transform 0.5s;
}

.front,
.back {
  height: 100%;
  width: 100%;
  color: rgb(0, 0, 0);
  font-size: 3rem;
  backface-visibility: hidden;
  border: 0.5rem solid whitesmoke;
  background-color: white;
}

.front img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.back {
  background-color: antiquewhite;
}

.album-page h2 {
  font-size: clamp(1rem, 2.5vw, 2rem);
  margin: 1rem;
}

.album-cover-top {
  display: flex;
  flex-direction: row;
  margin: auto;
  position: relative;
  width: 100%;
}

.album-cover-title {
  width: 50%;
  border: 1px solid black;
  margin: 0.5rem 0.25rem 0.5rem 0.5rem;
}

.album-modal-container,
.album-page,
.album-cover-top {
  height: 100%;
}

.artist-pic {
  margin: auto;
  padding: 0 10px;
  text-align: center;
}

.artist-pic img {
  max-height: 200px;
  width: auto;
  max-width: 100%;
}

.drink-info-container,
.album-cover-title {
  overflow: auto;
}

.drink-info-container {
  margin: 0.5rem 0.5rem 0.5rem 0.25rem;
  width: 50%;
}

.drink-info {
  margin: 20px 0;
}

.drink-img img {
  margin: 0 auto 20px auto;
  display: block;
}

.about-album {
  margin: 0.5rem;
  display: flex;
  flex-direction: row;
}

.about-album p {
  font-size: 0.9rem;
  max-height: 380px;
}

.drink-info-card {
  border: 1px solid black;
  margin: 0 0 20px 0;
  padding: 1rem;
}

.drink-info-card h3 {
  font-size: clamp(1rem, 2.5vw, 2rem);
  margin: 0 0 1rem 0;
}

.drink-info-card p {
  font-size: clamp(1rem, 2vw, 1rem);
}

.drink-info-card ul {
  margin: 0;
}

.drink-ingredients {
  max-width: 325px;
}

.drink-info-card li {
  font-size: .9rem;
  margin: 0 0 .5rem 0;
}

@media screen and (max-width: 800px) {
  .album-cover-top {
    display: block;
    overflow: auto;
  }
  .album-cover-title,
  .drink-info-container {
    width: auto;
    margin: 5px;
  }

  .about-album p {
    max-height: none;
  }
}

@media screen and (max-width: 470px) {
  .album-title-popup {
    display: none;
  }
}
