.nav-bar {
  background-color: rgb(53, 27, 6);
  display: flex;
  flex-direction: row;
}

.nav-bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

.nav-bar li {
  color: #f1f1f1;
}

.nav-bar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-logo {
  border: .1rem solid rgb(255, 255, 255);
  display: inline-block;
}

.nav-logo p {
  display: block;
  text-align: center;
  color: #f1f1f1;
}

.about-album {
  height: 400px;
  float: right;
}

/* entire container, keeps perspective */
.flip-container {
  perspective: 1000px;
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 400px;
	height: 400px;
}

/* flip speed goes here */
.flipper {
	transition: 0.4s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
  transform: rotateY(0deg);
  border: 1px solid black;
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}

.back img{
  height: 400px;
  width: 400px;
}


.front-1 {
  background-color: rgb(255, 230, 0);
}

.back-1 {

}

input[type=text],
textarea[type=text],
select {
  border: 1px solid #ccc;
  border-radius: none;
  box-sizing: border-box;
  display: inline-block;
  font-size: 1rem;
  margin: 8px 0;
  padding: 14px 8px;
  width: 80%;
}

select,
input[type=text] {
  height: 40px;
}

input[type=submit],
input[type=reset] {
  background: rgb(71, 37, 114);
  border: .1rem solid rgb(136, 136, 136);
  cursor: pointer;
  color: #ffffff;
  font-size: 1rem;
  margin: 2rem 1rem 2rem 0;
  padding: .5rem 1rem;
}

.submit-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

label {
  width: 20%;
  display: inline-block;
  margin-bottom: .5rem;
}

.album-detail-card,
.drink-detail-card {
  background-color: #f1f1f1;
  border: 2px solid #7222a7;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin: 1rem 10%;
  padding: 3.5rem;
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  width: 65%;
}

.album-detail-card:hover,
.drink-detail-card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.album-detail-card h1,
.drink-detail-card h1 {
  margin-top: 0;
}

.album-detail-card-form,
.drink-detail-card-form {
  margin: 1rem 3%;
  width: 94%;
}

.message {
  color: red;
  font-size: 1.5rem;
  margin-top: 0;
}

.admin-drink-info-card {
  background-color: rgb(219, 218, 218);
  border: .1rem solid #6c3e88;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.377), 0 1px 2px rgba(0, 0, 0, 0.452);
  margin-top: 1rem;
  padding: 2rem;
}

.admin-drink-info-card h1 {
  margin-top: 0rem;
}

.admin-drink-info {
  display: flex;
  flex-direction: row;
}

.admin-drink-info ul {
  margin: 0px;
}

.admin-drink-info li {
  margin-bottom: 1rem;
}