

.about-album {
  height: 400px;
  float: right;
}

.flip-container {
  perspective: 1000px;
}

.flip-container:hover .flipper,
.flip-container.hover .flipper {
  transform: rotateY(180deg);
}

.flip-container,
.front,
.back {
  width: 400px;
  height: 400px;
}

.flipper {
  transition: 0.4s;
  transform-style: preserve-3d;
  position: relative;
}

.front,
.back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.front {
  z-index: 2;
  transform: rotateY(0deg);
  border: black solid 1px;
}

.back {
  transform: rotateY(180deg);
}

.back img {
  height: 400px;
  width: 400px;
}

.front-1 {
  background-color: rgb(255, 230, 0);
}