.album-page {
margin-top: 7rem;
}
.about-album {
  height: 400px;
  float: right;
}
.card {
  position: absolute;
  width: 400px;
  height: 400px;
  float: left;
  perspective: 2000px;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.card:hover .content {
  transform: rotateY( 180deg ) ;
  transition: transform 0.5s;
}

.front,
.back {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgb(241, 229, 47);
  color: rgb(0, 0, 0);
  font-size: 3rem;
  backface-visibility: hidden;
}

.back {
  transform: rotateY( 180deg );
}

.about-album {
  padding: 0 25px 0 425px;
  min-width: 800px; 
}

.artist-pic-container{
  height: 400px;
  width: 100%;
}