#footer {
  background-color: rgba(0, 0, 0, 0.85);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 2.5rem;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 200;
  bottom: 0;
  position: fixed;
  padding: 0 1rem;
}

#footer h1 {
  color: white;
  font-size: 1rem;
  width: 100%;
}

#footer-buttons {
  cursor: pointer;
}

#footer-buttons ul {
  list-style-type: none;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  text-align: right;
  margin: 0;
  height: 100%;
}

#footer-buttons li {
  text-align: center;
  padding: 0.5rem;
  text-decoration: none;
  text-align: center;
  font-size: 1rem;
  width: 5rem;
  margin-right: 1rem;
  color: #ebebebda;
  display: flex;
  align-items: center;
  justify-content: center;
}

#footer-buttons li:hover {
  text-decoration: underline;
  color: #f1f1f1;
}

@media screen and (max-width: 440px) {
  #footer h1 {
    font-size: 0.8rem;
    line-height: 1.5rem;
  }
}
