.nav-bar {
  background-color: rgba(0, 0, 0, 0.85);
  /* box-shadow:
    0 4px 12px rgba(31, 31, 31, 0.301),
    0 8px 16px rgba(43, 43, 43, 0.432); */
  display: flex;
  flex-direction: row;
  height: 5rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.nav-bar h1 {
  color: white;
  font-family: "Unica One", cursive;
  font-size: 3rem;
  margin: 0 auto 0 1rem;
  display: flex;
  align-items: center;
  height: 100%;
}

#nav-buttons ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  overflow: hidden;
  text-align: right;
}

#nav-buttons li {
  color: #f1f1f1a8;
  font-size: 1rem;
  margin-right: 1rem;
  margin-top: 0.4rem;
  text-align: center;
  text-decoration: none;
  padding: 0.5rem;
  width: 5rem;
  cursor: pointer;
}

#nav-buttons li:hover {
  color: #f1f1f1;
  text-decoration: underline;
}

.nav-logo {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  margin-left: 1rem;
}

.nav-logo img {
  padding: 2px;
  border: 0.1rem solid rgb(255, 255, 255);
  height: 4rem;
  width: 4rem;
  box-sizing: border-box;
}

.nav-logo p {
  color: #f1f1f1;
  display: block;
  text-align: center;
}

@media screen and (max-width: 440px) {
  .nav-logo h1 {
    font-size: 1.5rem;
    margin-left: 0.5rem;
  }
    .nav-logo img {
    width: 2.5rem;
    height: 2.5rem;
  }
}