.splash-page {
  min-height: 100%;
  background-position: center;
  position: fixed;
  min-width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.splash-title {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
  z-index: 10;
  text-shadow:
    0 4px 12px rgba(31, 31, 31, 0.534),
    0 8px 16px rgba(43, 43, 43, 0.582);
}

.splash-button {
  cursor: pointer;
  z-index: 10;
  position: relative;
  display: block;
  padding: 20px 40px 20px 40px;
  color: rgb(255, 255, 255);
  background: #4b4b4b;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  font-family: "Raleway", sans-serif;
  width: 10rem;
  margin: auto;
  margin-top: 2rem;
  box-shadow:
    0 4px 12px rgba(0, 0, 0, 0.281),
    0 8px 16px rgba(0, 0, 0, 0.39);
}

.splash-button:hover {
  background: #1DB954;
}

.spotify-logo {
  margin: 1rem;
}

h1 {
  font-size: 3rem;
}

p {
  font-size: 1.1rem;
  margin: 0px;
}

@media screen and (max-width: 440px) {
  h1 {
    font-size: 2rem;
  }

  p {
    font-size: 0.9rem;
  }
}
